$templateColour: #ff00ce;

@import "core";

$font-family-sans-serif:        -apple-system, BlinkMacSystemFont, "Poppins", sans-serif, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

h4,
h5,
h6 {
    margin-bottom: 0.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height: 1.3;
}
